[Unit]
Description=apisvc

[Service]
Environment=APISVC_MODE=PROD
Environment=APISVC_DB_HOST=127.0.0.1
Environment=FLASK_APP=/usr/lib/python2.7/site-packages/apisvc/main.py
ExecStart=/bin/flask run -h 0.0.0.0 -p 5080 --no-reload --no-debugger --eager-loading --without-threads
Restart=always

[Install]
WantedBy=multi-user.target
